<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=542c3f4f84c6261ffaf3ee221e60b977" async></script>
    <script src="/js/map.js" defer></script>
    <style>
        #map {
            width: 60%;
            height: 400px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="map" layout:fragment="content"></div>
</body>
</html>
