<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script type="text/javascript" src="/common/js/esabsbuxkr.js?single"></script> <!-- 220117 수정 -->
    <script src="//connect.facebook.net/ko_KR/sdk.js"></script>
    <script src="//www.google-analytics.com/analytics.js"></script>
    <link rel="stylesheet" href="/common/css/custom.css"> <!-- custom.css 경로 설정 -->
</head>
<body>
<div th:fragment="header">
    <!-- JavaScript for expanding search box -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var searchButton = document.querySelector('.btn_search a');
            var searchBox = document.querySelector('.search-box');

            searchButton.addEventListener('click', function() {
                searchBox.classList.toggle('active');
                if (searchBox.classList.contains('active')) {
                    searchBox.setAttribute('placeholder', '검색어를 입력해주세요');
                } else {
                    searchBox.setAttribute('placeholder', '');
                }
            });
        });
    </script>
    <nav class="navbar navbar-expand-lg bg-custom-primary navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">Shop</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/item/new">상품 등록</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                        <a class="nav-link" href="/admin/items">상품 관리</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/cart">장바구니</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/orders">구매이력</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/members/login">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/members/logout">로그아웃</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/boards/notice">공지사항</a>
                    </li>
                </ul>
                <form class="d-flex ms-3">
                    <input name="searchQuery" class="form-control search-box me-2" type="search" placeholder="Search..." aria-label="Search">
                    <p class="btn_search">
                        <a href="javascript:void(0);">
                            <img alt="통합검색" src="//image.istarbucks.co.kr/common/img/common/icon_magnifier_black.png">
                        </a>
                    </p>
                    <button class="btn btn-custom-search my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
